body {
	font-family: arial;
	background-color: #45475a;
	color: #cdd6f4;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	overflow: hidden;
}
section {
	background-color: #1e1e2e;
	color: #89b4fa;
	border-radius: 20px;
	padding: 30px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 5px;
	margin: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}
h1, h2 {
	text-align: center;
}
h1 {
	font-size: 1000%;
	margin-bottom: 6%;
	margin-top: 5%;
}
h2 {
	font-size: 250%;
	padding-bottom: 5%;
}
li {
	padding: 2%;
	font-size: 24px;
}
